:root {
  --color-primary:#34c94b;
  --color-white:#ffffff;
  --color-black:#121212;
  }
  *,
  *::before,
  ::after{
    box-sizing: border-box;
  }
  
  *{
    margin: 0;
  }
  
  html,body{
  height: 100%;
  }
  
  body{
    font-family: poppins,sans-serif;
  line-height: 1.5;
    background-color: var(--color-black);
    color: var(--color-white);
    overflow-x: hidden;
  }

  .swiper-slide{
    width: auto !important;
  }

  .css-1aquho2-MuiTabs-indicator {
   
    background-color: var(--color-primary) !important;
  }


  .MuiAutocomplete-root .MuiInputBase-root{
    width: 35vw;
      background-color: white;
      height: 48px;
      border-radius: 8px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  border: 1px solid var(--color-black);
  }