.div{
    display:flex;
    justify-content: center;
    width: 1440px;
    height: 270px;
    top: 74px;
    align-items: center;
}

.text{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}